  <section class="fdb-block">
    <div class="container">
      <div class="row text-center pb-0 pb-lg-4">
        <div class="col-12">
          <h1>Call to action</h1>
        </div>
      </div>
      <div class="row text-center pt-4 pt-md-5">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 m-sm-auto">
          <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
          <h3>無料で試してみる</h3>
          <p>けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!</p>
          <p class="mt-3"><a class="btn" href="#">申し込む</a></p>
        </div>

        <div class="col-12 col-sm-10 col-md-6 col-lg-4 ml-sm-auto mr-sm-auto mt-5 mt-md-0">
          <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
          <h3>資料を請求する</h3>
          <p>鳴らしました。 弾いていますと みんなは やり直しました。 楽譜を ぱたっと 今の所の少し前の所から ぴたりと 楽長がまた それに?</p>
          <p class="mt-3"><a class="btn" href="#">お問い合せ</a></p>
        </div>
      </div>
    </div>
  </section>