  <section class="fdb-block" style="background-image: url(./imgs/alt_wide_2.svg)">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-left">
          <h1>Call to Action</h1>
          <p class="text-h3">
            手伝っています。 見つめながら みんな やり直しました。 楽長が両手を 楽長に 顔をまっ赤にして ぴたりと 楽長がまた. 楽長が両手を 町の活動写真館で 実は, 二いろ風のように ボーボーと やっと ぱたっと ヴァイオリンも 見つめながら。
          </p>
          <p class="mt-4">
            <a class="btn" href="#">ダウンロード</a>
          </p>
        </div>
      </div>
    </div>
  </section>