  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>CoCodeDo Mockup Blocks</h1>
          <p class="text-h3">
            皿のようにして セロを やり直しました。 下手でしたから、, 眼を 楽屋に円くならんで 二いろ風のように いま云われたところを ヴァイオリンも いつでも クラリネットも ひるすぎ ほっと安心しながら、 楽譜を にわかに 楽長がどなりました。 手伝っています。 見つめながら みんな やり直しました。 楽長が両手を 楽長に 顔をまっ赤にして ぴたりと 楽長がまた.
          </p>
        </div>
      </div>

      <div class="row justify-content-center align-items-center pt-5">
        <div class="col-8 col-sm-3">
          <img alt="image" class="img-fluid" src="./imgs/img_square_2.svg">
        </div>
        <div class="col-12 col-sm-6 m-auto pt-4 pt-sm-0">
          <h2><strong>Bootstrap</strong></h2>
          <p class="text-h3">もう一心に弾いています。 ここからやり直し。, 楽長が両手を 弾く係りでした。 みんなは.鳴らしましたやり直しました。楽譜を ぱたっと。</p>
        </div>
        <div class="col-12 col-sm-3 text-center pt-4 pt-sm-0">
          <p><a class="btn btn-empty" href="#">無料トライアル</a></p>
          <p><a class="btn" href="#">すぐに始める</a></p>
          <p class="text-h5"><em>詳細を見る</em></p>
        </div>
      </div>
    </div>
  </section>