  <section class="fdb-block fdb-viewport bg-dark" style="background-image: url(./imgs/bg_0.svg)">
    <div class="container justify-content-center align-items-center d-flex">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-md-8">
          <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
          <h1>CoCodeDo Mockup Blocks</h1>
          <p class="text-h3">けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!.</p>
          <p class="mt-5"><a href="#" class="btn">Call to Action</a></p>
        </div>
      </div>
    </div>
  </section>