  <section class="fdb-block pb-0">
    <div class="container">
      <div class="row align-items-center text-left">
        <div class="col-12 col-md-8">
          <h1>CoCodeDo Mockup Blocks</h1>
          <p class="text-h3">けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!. 仲間のみんなは, はいっ。いま云われたところを。</p>
        </div>
        <div class="col-12 col-md-3 ml-auto text-left text-md-right">
          <p><a href="#" class="btn">Call to Action</a></p>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-12">
          <img alt="image" class="img-fluid" src="./imgs/img_very_wide.svg">
        </div>
      </div>
    </div>
  </section>