  <section class="fdb-block fdb-viewport" style="background-image: url(./imgs/alt_wide_1.svg)">
    <div class="container align-items-center justify-content-center d-flex">
      <div class="row align-items-center text-left">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
          <h1>CoCodeDo Mockup Blocks is build on Boostrap Framework</h1>
          <p class="text-h3">顔をまっ赤にして ゴーシュは 仲間の楽手のなかでは 手伝っています。 やっと. ゴーシュは 曲をやめて, もう一心に弾いています。 there.</p>
          <p class="mt-5">
            <a href="#" class="btn btn-shadow">Call to Action</a>
            <a href="#" class="btn btn-white btn-shadow ml-4">デモに申し込む</a>
          </p>
        </div>
      </div>
    </div>
  </section>