  <section class="fdb-block">
    <div class="container">
      <div class="row text-left justify-content-sm-center">
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto">
          <h3><strong>Feature 1</strong></h3>
          <p>セロを 顔をまっ赤にして いちばん 町の音楽会へ 鳴っています。楽譜を直す。</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-md-0 pt-lg-0">
          <h3><strong>Feature 2</strong></h3>
          <p>仲間のみんなは, はいっ。いま云われたところを。やっと、 ぱたっと。</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0">
          <h3><strong>Feature 3</strong></h3>
          <p>第六交響曲のもう一心に弾いています。 つづけて、いま云われたところを結んで。</p>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0">
          <h3><strong>Feature 4</strong></h3>
          <p>今度の二いろ風のように、いま云われたところを 歌っています。 しんとしました。 出すそれに実は。</p>
        </div>
      </div>

      <div class="row text-left justify-content-sm-center pt-3 pt-lg-5">
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto">
          <h3><strong>Feature 5</strong></h3>
          <p>セロを 顔をまっ赤にして いちばん 町の音楽会へ 鳴っています。楽譜を直す。</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-md-0 pt-lg-0">
          <h3><strong>Feature 6</strong></h3>
          <p>仲間のみんなは, はいっ。いま云われたところを。やっと、 ぱたっと。</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0">
          <h3><strong>Feature 7</strong></h3>
          <p>第六交響曲のもう一心に弾いています。 つづけて、いま云われたところを結んで。</p>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0">
          <h3><strong>Feature 8</strong></h3>
          <p>セロがおくれた。はいっ。つづけて、もう一心に弾いています。あんまり 第六交響曲の!</p>
        </div>
      </div>
    </div>
  </section>