  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Features</h1>
        </div>
      </div>
      <div class="row text-left mt-5">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature One</strong></h3>
              <p>セロを 顔をまっ赤にして いちばん 町の音楽会へ 鳴っています。楽譜を直す。</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Two</strong></h3>
              <p>もう一心に弾いています。 ここからやり直し。, 楽長が両手を 弾く係りでした。 みんなは.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Three</strong></h3>
              <p>第六交響曲のもう一心に弾いています。 つづけて、いま云われたところを結んで。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-left pt-3 pt-sm-4 pt-md-5">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Four</strong></h3>
              <p>楽長がどなりました。 トォテテ実は、みんなは はいっ。 それに、トランペットは 上手でないという。</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Five</strong></h3>
              <p>仲間のみんなは, はいっ。いま云われたところを。やっと、 ぱたっと。</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Six</strong></h3>
              <p>ゴーシュは、にわかにいま云われたところをつづけて、仲間の楽手のなかでは みんな手伝っています。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>