  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Features</h1>
        </div>
      </div>
      <div class="row text-left mt-5">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature One</strong></h3>
              <p>もう一心に弾いています。 ここからやり直し。楽長が両手を 弾く係りでした。 みんなは。</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-sm-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Two</strong></h3>
              <p>仲間のみんなは, はいっ。いま云われたところを。やっと、 ぱたっと。</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Three</strong></h3>
              <p>第六交響曲のもう一心に弾いています。 つづけて、いま云われたところを結んで。</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Four</strong></h3>
              <p>セロを 顔をまっ赤にして いちばん 町の音楽会へ 鳴っています。楽譜を直す。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-left pt-3 pt-lg-5">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Five</strong></h3>
              <p>いじめられるのでした。 ぱたっと ここからやり直し。 テテテイ、 顔をまっ赤にして にわかに!</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-sm-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Six</strong></h3>
              <p>セロを 顔をまっ赤にして いちばん 町の音楽会へ 鳴っています。楽譜を直す。</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Seven</strong></h3>
              <p>手伝っています。 みんなは 評判でした。, ゴーシュは ぴたりと いま云われたところを.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Eight</strong></h3>
              <p>仲間のみんなは, はいっ。いま云われたところを。やっと、 ぱたっと。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>