  <section class="fdb-block pb-0">
    <div class="container">
      <div class="row text-lg-right align-items-center">
        <div class="col-12 col-sm-6 col-lg-3">
          <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
          <h4><strong>Feature One</strong></h4>
          <p>ゴーシュのように、楽長に手伝っています。楽長が両手を 曲をやめて。</p>

          <img alt="image" class="fdb-icon mt-3 mt-xl-5" src="./imgs/img_round.svg">
          <h4><strong>Feature Two</strong></h4>
          <p>楽長がどなりました。 町の音楽会へ下手でしたから、 歌っています。</p>

          <img alt="image" class="fdb-icon mt-3 mt-xl-5" src="./imgs/img_round.svg">
          <h4><strong>Feature Three</strong></h4>
          <p>上手でないどころではなくやり直しました。つづけて、いじめられるのでした。</p>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 text-left pt-3 pt-sm-0 order-lg-12">
          <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
          <h4><strong>Feature Four</strong></h4>
          <p>ゴーシュのように、やり直しました。つづけて、楽長に手伝っています。</p>

          <img alt="image" class="fdb-icon mt-3 mt-xl-5" src="./imgs/img_round.svg">
          <h4><strong>Feature Five</strong></h4>
          <p>みんなもう一心に弾いています。今の所の少し前の所からやっと、 ぱたっと。</p>

          <img alt="image" class="fdb-icon mt-3 mt-xl-5" src="./imgs/img_round.svg">
          <h4><strong>Feature Six</strong></h4>
          <p>第六交響曲のもう一心に弾いています。 つづけて、いま云われたところを結んで。</p>
        </div>

        <div class="col-7 col-sm-4 col-lg-4 m-auto pt-5 pt-lg-0 order-lg-1">
          <img alt="image" class="img-fluid br-b-0" src="./imgs/img_very_tall.png">
        </div>
      </div>
    </div>
  </section>