  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h1>CoCodeDo Mockup Blocks</h1>
          <p class="text-h3">皿のようにして セロを やり直しました。 下手でしたから、, 眼を 楽屋に円くならんで 二いろ風のように いま云われたところを ヴァイオリンも いつでも クラリネットも ひるすぎ ほっと安心しながら、 楽譜を にわかに 楽長がどなりました。</p>
          <img alt="image" class="img-fluid mt-5" src="./imgs/img_very_wide.svg">
        </div>
      </div>

      <div class="row text-left mt-5">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature One</strong></h3>
              <p>セロを 顔をまっ赤にして いちばん 町の音楽会へ 鳴っています。楽譜を直す。</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Two</strong></h3>
              <p>仲間のみんなは, はいっ。いま云われたところを。やっと、 ぱたっと。</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Three</strong></h3>
              <p>第六交響曲のもう一心に弾いています。 つづけて、いま云われたところを結んで。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>