  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>Features</h1>
        </div>
      </div>

      <div class="row text-center mt-5">
        <div class="col-12 col-sm-4">
          <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
          <h3><strong>Feature One</strong></h3>
          <p>けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!</p>
        </div>

        <div class="col-12 col-sm-4 pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
          <h3><strong>Feature Two</strong></h3>
          <p>鳴らしました。 弾いていますと みんなは やり直しました。 楽譜を ぱたっと 今の所の少し前の所から ぴたりと 楽長がまた それに? </p>
        </div>

        <div class="col-12 col-sm-4 pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
          <h3><strong>Feature Three</strong></h3>
          <p>第六交響曲のもう一心に弾いています。 つづけて、いま云われたところを結んで。 with the necessary regelialia. It is a paradisematic country,</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <img alt="image" class="img-fluid" src="./imgs/img_very_wide.svg">
        </div>
      </div>
    </div>
  </section>