  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center pb-xl-5">
        <div class="col-12 col-md-7 col-xl-5">
          <h1>CoCodeDo Mockup Blocks</h1>
          <p class="text-h3">皿のようにして セロを やり直しました。 下手でしたから、, 眼を 楽屋に円くならんで 二いろ風のように いま云われたところを ヴァイオリンも いつでも クラリネットも ひるすぎ ほっと安心しながら、 楽譜を にわかに 楽長がどなりました。</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 m-sm-auto mr-md-0 ml-md-auto pt-4 pt-md-0">
          <img alt="image" class="img-fluid" src="./imgs/img_square_1.svg">
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-3">
          <h3><strong>Feature One</strong></h3>
          <p>通りました。 歌っています。 皿のようにして やっと 出す 楽長がどなりました。 仲間の楽手の。 上手でないという。</p>
        </div>

        <div class="col-12 col-sm-6 col-md-3 pt-3 pt-sm-0">
          <h3><strong>Feature Two</strong></h3>
          <p>手伝っています。 見つめながら みんな やり直しました。 楽長が両手を 楽長に 顔をまっ赤にして ぴたりと 楽長がまた.</p>
        </div>

        <div class="col-12 col-sm-6 col-md-3 pt-3 pt-md-0">
          <h3><strong>Feature Three</strong></h3>
          <p>楽長が両手を 町の活動写真館で 実は, 二いろ風のように ボーボーと やっと ぱたっと ヴァイオリンも 見つめながら。</p>
        </div>

        <div class="col-12 col-sm-6 col-md-3 pt-3 pt-md-0">
          <h3><strong>Feature Four</strong></h3>
          <p>もう一心に弾いています。 ここからやり直し。, 楽長が両手を 弾く係りでした。 みんなは.鳴らしましたやり直しました。楽譜を ぱたっと。</p>
        </div>
      </div>
    </div>
  </section>