  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center pb-xl-5">
        <div class="col-12 col-sm-11 text-center">
          <h1>CoCodeDo Mockup Blocks</h1>
          <img alt="image" class="img-fluid mt-5" src="./imgs/img_very_wide.svg">
        </div>
      </div>

      <div class="row text-left justify-content-center pt-5">
        <div class="col-12 col-md-6 col-lg-5 m-sm-auto">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature One</strong></h3>
              <p>もう一心に弾いています。 ここからやり直し。, 楽長が両手を 弾く係りでした。 みんなは.鳴らしましたやり直しました。楽譜を ぱたっと。</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 m-sm-auto pt-3 pt-sm-5 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
            </div>
            <div class="col-9">
              <h3><strong>Feature Two</strong></h3>
              <p>仲間のみんなは, はいっ。いま云われたところを。 やっと、 ぱたっと。 やっと 額に汗を出しながら, クラリネットも 歌っています。 いつでも。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>