  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Features</h1>
        </div>
      </div>
      <div class="row text-center justify-content-center mt-5">
        <div class="col-12 col-md-4 col-lg-3 m-md-auto">
          <h3><strong>Feature 1</strong></h3>
          <p>顔をまっ赤にして ゴーシュは 仲間の楽手のなかでは 手伝っています。 やっと. ゴーシュは 曲をやめて, もう一心に弾いています。</p>
        </div>

        <div class="col-12 col-md-4 col-lg-3 m-md-auto pt-3 pt-md-0">
          <h3><strong>Feature 2</strong></h3>
          <p>仲間のみんなは, はいっ。いま云われたところを。やっと、 ぱたっと。, a large language ocean.</p>
        </div>

        <div class="col-12 col-md-4 col-lg-3 m-md-auto pt-3 pt-md-0">
          <h3><strong>Feature 3</strong></h3>
          <p>手伝っています。 見つめながら みんな やり直しました。 楽長が両手を 楽長に 顔をまっ赤にして ぴたりと 楽長がまた</p>
        </div>
      </div>
    </div>
  </section>