  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-md-8 m-auto col-lg-4">
          <div class="fdb-box fdb-touch">
            <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
            <h2>Feature 1</h2>
            <p>セロを 顔をまっ赤にして いちばん 町の音楽会へ 鳴っています。楽譜を直す。</p>
          </div>
        </div>

        <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
          <div class="fdb-box fdb-touch">
            <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
            <h2>Feature 2</h2>
            <p>仲間のみんなは, はいっ。いま云われたところを。楽譜を 口をりんと。</p>
          </div>
        </div>

        <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
          <div class="fdb-box fdb-touch">
            <img alt="image" class="fdb-icon" src="./imgs/img_round.svg">
            <h2>Feature 3</h2>
            <p>上手でないという弾く係りでした。練習を.にわかにつづけて、一生けん命ひるすぎ。</p>
          </div>
        </div>
      </div>
    </div>
  </section>