  <section class="fdb-block">
    <div class="container">
      <div class="row text-left">
        <div class="col-12 col-md-8 m-auto col-lg-4">
          <div class="fdb-box fdb-touch">
            <h2>Feature 1</h2>
            <p>セロを 顔をまっ赤にして いちばん 町の音楽会へ 鳴っています。楽長がどなりました。いちばん歌っています。顔をまっ赤にして</p>
            <p><a href="#">もっと読む</a></p>
          </div>
        </div>
        <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
          <div class="fdb-box fdb-touch">
            <h2>Feature 2</h2>
            <p>いつでも手伝っています。ここからやり直し。 やっと、 ぱたっと。 いじめられるのでした。仲間の楽手のなかでは、あんまり。</p>

            <p><a href="#">もっと読む</a></p>
          </div>
        </div>
        <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
          <div class="fdb-box fdb-touch">
            <h2>Feature 3</h2>
            <p>楽長がどなりました。いちばん歌っています。顔をまっ赤にしてやっと、 ぱたっと。 いじめられるのでした。仲間の楽手のなかでは。</p>
            <p><a href="#">もっと読む</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>