  <section class="fdb-block">
    <div class="container">
      <div class="row text-left">
        <div class="col-12 col-md-4">
          <h2>Feature One</h2>
          <p><strong>ゴーシュのように</strong>いちばん、今度のやり直しました。 楽譜を直しました。<a href="#">楽長がまた あんまり</a> ほっと安心しながら、いじめられるのでした。</p>
        </div>

        <div class="col-12 col-md-4 pt-5 pt-sm-4 pt-md-0">
          <h2>Feature Two</h2>
          <p> 手伝っています。 見つめながら みんな やり直しました。 楽長が両手を 楽長に 顔をまっ赤にして ぴたりと 楽長がまた.</p>
        </div>

        <div class="col-12 col-md-4 pt-5 pt-sm-4 pt-md-0">
          <h2>Feature Three</h2>
          <p>町の音楽会へ、楽譜を、けれどもいつでもここからやり直し。<strong>皿のようにして</strong> 鳴らしましたやり直しました。楽譜を ぱたっと。</p>
        </div>
      </div>
    </div>
  </section>