  <section class="fdb-block pt-0">
    <div class="container-fluid p-0 pb-md-5">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.482125415855!2d135.4910835143817!3d34.667779480443016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e70ebd3a9857%3A0xa41ab82cddb1a3bf!2sTHe+RITA+COFFEE!5e0!3m2!1sja!2sjp!4v1529205071488" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 col-md-6 col-lg-5">
          <h2>Contact Us</h2>
          <p class="text-h3">
            けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!. 仲間のみんなは, はいっ。いま云われたところを。
          </p>

          <p class="text-h3">
            楽長が両手を 町の活動写真館で 実は, 二いろ風のように ボーボーと やっと ぱたっと ヴァイオリンも 見つめながら。
          </p>


          <p class="text-h3 mt-5">
            <strong>メールアドレス:</strong> <a href="#">hello@website.com</a>
          </p>
          <p class="text-h3">
            <strong>電話番号:</strong> <a href="#">+44 123 123 1232</a>
          </p>
        </div>

        <div class="col-12 col-md-6 ml-auto pt-5 pt-md-0">
          <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name"/>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name"/>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="email" class="form-control" placeholder="Enter email"/>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="email" class="form-control" placeholder="Subject"/>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <textarea class="form-control" name="message" rows="3" placeholder="How can we help?"></textarea>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button type="submit" class="btn">送信</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>