  <section class="fdb-block">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
          <h1>Contact Us</h1>
          <p class="text-h3">鳴らしました。 弾いていますと みんなは やり直しました。 楽譜を ぱたっと 今の所の少し前の所から ぴたりと 楽長がまた それに?</p>
        </div>
      </div>
      <div class="row-70"></div>
      <div class="row">
        <div class="col-12 col-md-8 col-lg m-auto">
          <form>
            <div class="row">
              <div class="col">
                <input type="email" class="form-control" placeholder="Enter email"/>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="email" class="form-control" placeholder="Subject"/>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <textarea class="form-control" name="message" rows="3" placeholder="How can we help?"></textarea>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button type="submit" class="btn">送信</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-12 col-md-8 col-lg pt-5 m-auto pt-lg-0">
          <iframe class="mb-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.482125415855!2d135.4910835143817!3d34.667779480443016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e70ebd3a9857%3A0xa41ab82cddb1a3bf!2sTHe+RITA+COFFEE!5e0!3m2!1sja!2sjp!4v1529205071488" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>

          <p><strong>Showroom</strong></p>
          <p>
            71 Pilgrim Avenue<br>Chevy Chase, MD 20815
          </p>
        </div>
      </div>
    </div>
  </section>