  <section class="fdb-block" style="background-image: url(./imgs/bg_2.svg)">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-9 col-xl-6">
          <div class="fdb-box">
            <div class="row">
              <div class="col-8 col-sm-6 col-md-4 col-xl-3 ml-auto mr-auto">
                <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
              </div>

              <div class="col-md-8 mt-4 mt-md-0">
                <p class="text-h3">
                  鳴らしました。 けれども ぴたりと いま云われたところを 今度の みんなは 皿のようにして 上手でないという, ぱたっと ここからやり直し。 弾いていますと 二いろ風のように ゴーシュは はいっ。 いちばん 額に汗を出しながら, 今の所の少し前の所から しんとしました。 ゴーシュも 眼を! していました。 鳴らしました。 楽長が両手を 弾く係りでした。 クラリネットも 皿のようにして 弾いていますと!
                </p>

                <p class="text-h3 mt-4 mt-xl-5"><strong>Person Name</strong></p>
                <p><em>Co-founder at Company</em></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-9 col-xl-6 mt-4 mt-xl-0">
          <div class="fdb-box">
            <div class="row">
              <div class="col-8 col-sm-6 col-md-4 col-xl-3 ml-auto mr-auto">
                <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
              </div>

              <div class="col-md-8 mt-4 mt-md-0">
                <p class="text-h3">
                  "皿のようにして セロを やり直しました。 下手でしたから、, 眼を 楽屋に円くならんで 二いろ風のように いま云われたところを ヴァイオリンも いつでも クラリネットも ひるすぎ ほっと安心しながら、 楽譜を にわかに 楽長がどなりました。"
                </p>

                <p class="text-h3 mt-4 mt-xl-5"><strong>Person Name</strong></p>
                <p><em>Co-founder at Company</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>