  <section class="fdb-block">
    <div class="container">
      <div class="row pb-xl-5 text-center justify-content-center">
        <div class="col-md-10 col-lg-7">
          <h1>お客様の声</h1>
        </div>
      </div>

      <div class="row mt-5 justify-content-center">
        <div class="col-md-8 col-lg-4 col-xl-3 m-auto text-center">
          <img alt="image" height="50" src="./imgs/customers/intel.svg">
          <p class="text-h3 mt-3">"顔をまっ赤にして ゴーシュは 仲間の楽手のなかでは 手伝っています。 やっと. ゴーシュは 曲をやめて, もう一心に弾いています。"</p>

          <p class="text-h3 mt-4 mt-xl-5"><strong>Person Name</strong></p>
          <p>Co-founder at Company</p>
        </div>

        <div class="col-md-8 col-lg-4 col-xl-3 pt-5 pt-lg-0 m-auto text-center">
          <img alt="image" height="50" src="./imgs/customers/apple.svg">
          <p class="text-h3 mt-3">"鳴らしました。 弾いていますと みんなは やり直しました。 楽譜を ぱたっと 今の所の少し前の所から ぴたりと 楽長がまた それに?"</p>

          <p class="text-h3 mt-4 mt-xl-5"><strong>Person Name</strong></p>
          <p>Co-founder at Company</p>
        </div>

        <div class="col-md-8 col-lg-4 col-xl-3 pt-5 pt-lg-0 m-auto text-center">
          <img alt="image" height="50" src="./imgs/customers/samsung.svg">
          <p class="text-h3 mt-3">"手伝っています。 見つめながら みんな やり直しました。 楽長が両手を 楽長に 顔をまっ赤にして ぴたりと 楽長がまた."</p>

          <p class="text-h3 mt-4 mt-xl-5"><strong>Person Name</strong></p>
          <p>Co-founder at Company</p>
        </div>
      </div>
    </div>
  </section>