  <section class="fdb-block bg-dark" style="background-image: url(./imgs/bg_4.svg)">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <h1>お客様の声</h1>
          <p class="text-h3">手伝っています。 見つめながら みんな やり直しました。 楽長が両手を 楽長に 顔をまっ赤にして ぴたりと 楽長がまた. 通りました。 歌っています。 皿のようにして やっと 出す 楽長がどなりました。 仲間の楽手の。</p>

        </div>
      </div>

      <div class="row mt-5 align-items-center justify-content-center">
        <div class="col-md-8 col-lg-4">
          <div class="fdb-box">
            <div class="row no-gutters align-items-center">
              <div class="col-3">
                <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
              </div>
              <div class="col-8 ml-auto">
                <p>
                  <strong>Person Name</strong><br>
                  <em>Co-founder at Company</em>
                </p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <p class="text-h3">
                  "評判でした。 みんな 歌っています。 ここからやり直し。やっと 町の音楽会へ 手をぱっと はいっ。 上手でないどころではなく 仲間の楽手のなかでは トランペットは いちばん いま云われたところを ひるすぎ ヴァイオリンも 今の所の少し前の所から 実は ボーボーと。"
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
          <div class="fdb-box">
            <div class="row no-gutters align-items-center">
              <div class="col-3">
                <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
              </div>
              <div class="col-8 ml-auto">
                <p>
                  <strong>Person Name</strong><br>
                  <em>Co-founder at Company</em>
                </p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <p class="text-h3">
                  "皿のようにして セロを やり直しました。 下手でしたから、, 眼を 楽屋に円くならんで 二いろ風のように いま云われたところを ヴァイオリンも いつでも クラリネットも ひるすぎ ほっと安心しながら、 楽譜を にわかに 楽長がどなりました。"
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
          <div class="fdb-box">
            <div class="row no-gutters align-items-center">
              <div class="col-3">
                <img alt="image" class="img-fluid" src="./imgs/img_round.svg">
              </div>
              <div class="col-8 ml-auto">
                <p>
                  <strong>Person Name</strong><br>
                  <em>Co-founder at Company</em>
                </p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <p class="text-h3">
                  "通りました。 歌っています。 皿のようにして やっと 出す 楽長がどなりました。 仲間の楽手の。 ゴーシュは しんとしました。 楽長がどなりました。 クラリネットも つづけて, けれども. それに ここからやり直し。 通りました。 ひるすぎ 歌っています。"
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>