  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Pricing</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-center">
        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left">
          <div class="fdb-box fdb-touch p-5 br">
            <h2>Hobby <strong class="float-xl-right d-lg-block d-xl-inline">108円</strong></h2>
            <p class="text-h3"><em>弾く係りでした。楽屋に円くならんでやっと、一生けん命ゴーシュは、町の活動写真館で。</em></p>

            <ul class="text-left pl-3 mt-5 mb-5">
              <li>サービス1</li>
              <li>サービス2</li>
              <li>サービス3</li>
            </ul>

            <p class="text-left pt-4"><a href="#" class="btn">購入</a></p>
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0">
          <div class="fdb-box fdb-touch p-5 br">
            <h2>Advanced <strong class="float-xl-right d-lg-block d-xl-inline">540円</strong></h2>
            <p class="text-h3"><em>いつでも手伝っています。ここからやり直し。 楽譜を 口をりんと。</em></p>

            <ul class="text-left pl-3 mt-5 mb-5">
              <li>サービス1</li>
              <li>サービス2</li>
              <li>サービス3</li>
            </ul>

            <p class="text-left pt-4"><a href="#" class="btn">購入</a></p>
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0">
          <div class="fdb-box fdb-touch p-5 br">
            <h2>Business <strong class="float-xl-right d-lg-block d-xl-inline">864円</strong></h2>
            <p class="text-h3"><em>見つめながらもう一心に弾いています。 ヴァイオリンもセロを。</em></p>

            <ul class="text-left pl-3 mt-5 mb-5">
              <li>サービス1</li>
              <li>サービス2</li>
              <li>サービス3</li>
            </ul>

            <p class="text-left pt-4"><a href="#" class="btn">購入</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>