  <section class="fdb-block bg-dark" style="background-image: url(/imgs/bg_0.svg);">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Pricing</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-center">
        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center">
          <div class="fdb-box fdb-touch p-4 br">
            <h2>Hobby</h2>
            <p class="text-h3">顔をまっ赤にして ゴーシュは 仲間の楽手のなかでは 手伝っています。 やっと. ゴーシュは 曲をやめて, もう一心に弾いています。</p>

            <p class="text-h1 mt-5 mb-5">9,260円</p>

            <p><a href="#" class="btn">購入</a></p>
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0">
          <div class="fdb-box fdb-touch p-4 br">
            <h2>Advanced</h2>
            <p class="text-h3">仲間のみんなは, はいっ。いま云われたところを。見つめながら もう一心に弾いています。 ゴーシュは 町の音楽会へ。</p>

            <p class="text-h1 mt-5 mb-5">4,075円</p>

            <p><a href="#" class="btn">購入</a></p>
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0">
          <div class="fdb-box fdb-touch p-4 br">
            <h2>Business</h2>
            <p class="text-h3">もう一心に弾いています。 ここからやり直し。, 楽長が両手を 弾く係りでした。 みんなは.鳴らしましたやり直しました。楽譜を ぱたっと。</p>

            <p class="text-h1 mb-5 mt-5">7,778円</p>

            <p><a href="#" class="btn">購入</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>