  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Pricing Plans</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-top">
        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left">
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4 br">
            <h2 class="font-weight-light">Startup</h2>
            <hr/>
            <p class="text-h2"><strong>540円</strong></p>
            <p class="text-h4">セロを 顔をまっ赤にして いちばん 町の音楽会へ 鳴っています。楽譜を直す。</p>
            <hr/>
            <p class="text-right"><em>Unlimited calls</em></p>
            <p class="text-right"><em>Free hosting</em></p>
            <p class="text-right"><em>40MB of storage</em></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p class="text-center pt-4"><a href="#" class="btn btn-round">いますぐ申し込む</a></p>
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0">
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4 br">
            <h2 class="font-weight-light">Standard</h2>
            <hr/>
            <p class="text-h2"><strong>1,280円</strong></p>
            <p class="text-h4">トランペットは しんとしました。 けれども はいっ。 口をりんと結んで 弾く係りでした。</p>
            <hr/>
            <p class="text-right"><em>Unlimited calls</em></p>
            <p class="text-right"><em>Free hosting</em></p>
            <p class="text-right"><em>1GB of storage</em></p>
            <p class="text-right"><em>10 hours of support</em></p>
            <p class="text-right"><em>Custom domain</em></p>
            <p><br></p>
            <p class="text-center pt-4"><a href="#" class="btn btn-round">いますぐ申し込む</a></p>
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0">
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4 br">
            <h2 class="font-weight-light">Professional</h2>
            <hr/>
            <p class="text-h2"><strong>7,778円</strong></p>
            <p class="text-h4">町の音楽会へ みんなは クラリネットも 手伝っています。眼を 楽屋に円くならんで</p>
            <hr/>
            <p class="text-right"><em>Unlimited calls</em></p>
            <p class="text-right"><em>Free hosting</em></p>
            <p class="text-right"><em>1GB of storage</em></p>
            <p class="text-right"><em>20 hours of support</em></p>
            <p class="text-right"><em>Custom domain</em></p>
            <p class="text-right"><em>Analytics and SEO</em></p>

            <p class="text-center pt-4"><a href="#" class="btn btn-round">いますぐ申し込む</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>