  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Pricing Plans</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-top">
        <div class="col-12 col-md-8 m-auto col-lg-4 text-center">
          <img alt="image" height="80" src="./imgs/img_round.svg">
          <h2><strong>Startup</strong></h2>
          <p class="text-h3 mb-4 mb-lg-5"><em>月額 926円</em></p>

          <p>電話サポート</p>
          <p>サーバー容量40MB</p>
          <p>サブドメイン</p>

          <p class="text-center mt-4 mt-lg-5"><a href="#" class="btn btn-round">いますぐ申し込む</a></p>
        </div>

        <div class="col-12 col-md-8 col-lg-4 text-center m-auto pt-5 pt-lg-0">
          <img alt="image" height="80" src="./imgs/img_round.svg">
          <h2><strong>Advanced</strong></h2>
          <p class="text-h3 mb-4 mb-lg-5"><em>月額 1,852円</em></p>

          <p>電話サポート</p>
          <p>サーバー容量40MB</p>
          <p>サブドメイン</p>

          <p class="text-center mt-4 mt-lg-5"><a href="#" class="btn btn-round">いますぐ申し込む</a></p>
        </div>

        <div class="col-12 col-md-8 m-auto col-lg-4 text-center pt-5 pt-lg-0">
          <img alt="image" height="80" src="./imgs/img_round.svg">
          <h2><strong>Business</strong></h2>
          <p class="text-h3 mb-4 mb-lg-5"><em>月額 2,778円</em></p>

          <p>電話サポート</p>
          <p>サーバー容量40MB</p>
          <p>サブドメイン</p>

          <p class="text-center mt-4 mt-lg-5"><a href="#" class="btn btn-round">いますぐ申し込む</a></p>
        </div>
      </div>
    </div>
  </section>