  <section class="fdb-block team-4">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-8">
          <h1>Team</h1>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-3">
          <img alt="image" class="img-fluid" src="./imgs/colors_wide_1.jpg">
          <h3><strong>John Smith</strong></h3>
          <p>Position</p>
          <p>額に汗を出しながら ぴたりと, あんまり テテテイ、 もう一心に弾いています。</p>
        </div>

        <div class="col-3">
          <img alt="image" class="img-fluid" src="./imgs/colors_wide_1.jpg">
          <h3><strong>John Smith</strong></h3>
          <p>Position</p>
          <p>楽譜を, トォテテ いじめられるのでした。 出す みんなは。</p>
        </div>

        <div class="col-3">
          <img alt="image" class="img-fluid" src="./imgs/colors_wide_1.jpg">
          <h3><strong>John Smith</strong></h3>
          <p>Position</p>
          <p>テテテイ、手をぱっと 額に汗を出しながら 歌っています。鳴らしました。</p>
        </div>

        <div class="col-3">
          <img alt="image" class="img-fluid" src="./imgs/colors_wide_1.jpg">
          <h3><strong>John Smith</strong></h3>
          <p>Position</p>
          <p>ひるすぎ みんなは 楽長がまた 曲をやめて 一生けん命。 ぱたっと、皿のようにして。</p>
        </div>
      </div>
    </div>
  </section>