  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
          <div class="row justify-content-center pb-4">
            <div class="col-4 col-sm-3 col-md-2"><img alt="image" class="fdb-icon" src="./imgs/img_square_1.svg"></div>
            <div class="col-4 col-sm-3 col-md-2"><img alt="image" class="fdb-icon" src="./imgs/img_square_2.svg"></div>
            <div class="col-4 col-sm-3 col-md-2"><img alt="image" class="fdb-icon" src="./imgs/img_square_3.svg"></div>
          </div>

          <p class="text-h3">皿のようにして セロを やり直しました。 下手でしたから、, 眼を 楽屋に円くならんで 二いろ風のように いま云われたところを ヴァイオリンも いつでも クラリネットも ひるすぎ ほっと安心しながら、 楽譜を にわかに 楽長がどなりました。</p>
        </div>
      </div>
    </div>
  </section>