  <section class="fdb-block pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 col-sm-6 m-auto col-md-4 pb-4 pb-md-0">
          <img alt="image" class="img-fluid br-0" src="./imgs/img_tall.png">
        </div>

        <div class="col-12 ml-auto col-md-6 col-lg-5">
          <h1>Mockup Blocks</h1>
          <p class="text-h3">けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!.</p>
          <p><a class="btn btn-round mt-4 mb-5 mb-md-0" href="#">Download</a></p>
        </div>
      </div>
    </div>
  </section>