  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-12 col-lg-6 col-xl-5">
          <h1>Mockup Blocks</h1>
          <p class="text-h3 mb-5">けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!.</p>

          <p><strong>運営のノウハウが満載:</strong></p>
          <p>
            <img alt="image" class="fdb-icon" src="./imgs/img_square_1.svg">
            <img alt="image" class="fdb-icon ml-2" src="./imgs/img_square_2.svg">
            <img alt="image" class="fdb-icon ml-2" src="./imgs/img_square_3.svg">
            <img alt="image" class="fdb-icon ml-2" src="./imgs/img_square_4.svg"></p>
        </div>
        <div class="col-12 col-md-8 m-auto ml-lg-auto mr-lg-0 col-lg-6 pt-5 pt-lg-0">
          <img alt="image" class="img-fluid" src="./imgs/colors_wide_1.jpg">
        </div>
      </div>
    </div>
  </section>