  <section class="fdb-block pt-0 pb-0">
    <div class="col-fill-right" style="background-image: url(./imgs/bg_c_2.svg)">
    </div>

    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-12 col-md-5 text-center">
          <h1>CoCodeDo Blocks</h1>
          <p class="text-h3">けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!.</p>
          <p class="mt-4 mb-5"><a class="btn" href="#">Button</a></p>

          <p>Follow us on</p>
          <p>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>  
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>  
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>  
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>  
            <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>
  </section>