  <section class="fdb-block">
    <div class="container">
      <div class="row text-left align-items-center">
        <div class="col-12 col-md-6 col-lg-4">
          <h2>Your Website</h2>
          <p class="text-h3">けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!.</p>
          <p class="text-h3"><a href="#">もっと読む</a></p>
        </div>

        <div class="col-12 col-md-6 col-lg-4 pt-4 pt-md-0">
          <h2>Amazing Design</h2>
          <p class="text-h3">ぱたっと やっと 弾く係りでした。 いちばん 歌っています。 町の活動写真館で ここからやり直し。 弾いていますと, ゴーシュは! もう一心に弾いています。手をぱっと, ゴーシュは 眼を。</p>
          <p class="text-h3"><a href="#">もっと読む</a></p>
        </div>

        <div class="col-12 col-md-8 m-auto m-lg-0 col-lg-4 pt-5 pt-lg-0">
          <img alt="image" class="img-fluid" src="./imgs/colors_wide_1.jpg">
        </div>
      </div>
    </div>
  </section>