  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>CoCodeDo Mockup Blocks</h1>
          <p class="text-h2"><em>Right at the coast of the Semantics, a large language ocean.</em></p>
        </div>
      </div>

      <div class="row text-center pt-3 pt-xl-5">
        <div class="col-12 col-sm-10 m-auto m-md-0 col-md-6">
          <img alt="image" class="img-fluid" src="./imgs/colors_wide_1.jpg">
          <p class="text-h3">顔をまっ赤にして ゴーシュは 仲間の楽手のなかでは 手伝っています。 やっと. ゴーシュは 曲をやめて, もう一心に弾いています。</p>
        </div>

        <div class="col-12 col-sm-10 m-auto m-md-0 col-md-6 pt-5 pt-md-0">
          <img alt="image" class="img-fluid" src="./imgs/colors_wide_2.jpg">
          <p class="text-h3">通りました。歌っています。ゴーシュは、クラリネットも評判でした。ここからやり直し。 ボーボーと眼を。</p>
        </div>
      </div>
    </div>
  </section>