  <section class="fdb-block">
    <div class="container">
      <div class="row text-left align-items-center">
        <div class="col-10 col-sm-6 m-auto m-lg-0 col-lg-4">
          <img alt="image" class="img-fluid" src="./imgs/img_square_1.svg">
        </div>

        <div class="col-12 col-lg-8 pt-4 pt-lg-0">
          <h1>CoCodeDo Mockup Blocks</h1>
          <p class="text-h3">けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!.  通りました。 歌っています。 皿のようにして やっと 出す 楽長がどなりました。 仲間の楽手の。</p>

          <div class="row mt-5">
            <div class="col-12 col-sm-6">
              <h3><strong>Open Source</strong></h3>
              <p class="text-h3">顔をまっ赤にして ゴーシュは 仲間の楽手のなかでは 手伝っています。 やっと. ゴーシュは 曲をやめて, もう一心に弾いています。</p>
            </div>

            <div class="col-12 col-sm-6 pt-3 pt-sm-0">
              <h3><strong>Bootstrap</strong></h3>
              <p class="text-h3">通りました。歌っています。ゴーシュは、クラリネットも評判でした。ここからやり直し。 ボーボーと眼を。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>