  <section class="fdb-block" style="background-image: url(./imgs/bg_4.svg)">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
          <div class="fdb-box">
            <div class="row">
              <div class="col">
                <h1>Log In</h1>
                <p class="text-h3">通りました。歌っています。ゴーシュは、クラリネットも評判でした。ここからやり直し。 ボーボーと眼を。</p>
              </div>
            </div>
            <div class="row">
              <div class="col mt-4">
                <input type="text" class="form-control" placeholder="Email"/>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <input type="password" class="form-control" placeholder="Password"/>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button class="btn" type="button">送信</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>