  <section class="fdb-block bg-gray">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12  col-md-10 col-lg-8 col-xl-6 text-center">
          <img alt="image" height="40" src="./imgs/img_round.svg">
          <h1>Never miss an update</h1>
          <p class="text-h3">けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!. </p>
          <div class="input-group mt-4 mb-4">
            <input type="text" class="form-control" placeholder="Enter your email address"/>
            <span class="input-group-btn">
              <button class="btn" type="button">送信</button>
            </span>
          </div>
          <p class="text-h5"><em>*Your email address is safe with us. We never share your email address.</em></p>
        </div>
      </div>
    </div>
  </section>