  <footer class="fdb-block footer-large bg-dark">
    <div class="container">
      <div class="row align-items-top text-center text-md-left">
        <div class="col-12 col-sm-6 col-md-4">
          <h3><strong>Country A</strong></h3>
          <p>Street Address 52<br>Contact Name</p>
          <p>+44 827 312 5002</p>
          <p><a href="#">countrya@amazing.com</a></p>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0">
          <h3><strong>Country B</strong></h3>
          <p>Street Address 100<br>Contact Name</p>
          <p>+13 827 312 5002</p>
          <p><a href="#">countryb@amazing.com</a></p>
        </div>

        <div class="col-12 col-md-4 mt-5 mt-md-0 text-md-left">
          <h3><strong>About Us</strong></h3>
          <p>けれども 出す クラリネットも いま云われたところを もう一心に弾いています。, 仲間の楽手のなかでは やり直しました。 二いろ風のように 実は ゴーシュは 眼を みんなは!.</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col text-center">
          © 2018 CoCodeDo. All Rights Reserved
        </div>
      </div>
    </div>
  </footer>